VITE_SUPABASE_URL=https://qoaufrievwhnwqzkofdt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFvYXVmcmlldndobndxemtvZmR0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAxOTU1OTYsImV4cCI6MjA4NTc3MTU5Nn0.YE1RKbWT1sdM_fyxDaxw1rK-N3KrOWU_vH9anSJ2-u0
